@page "/"

<PageTitle>Home</PageTitle>

<h4>Name: Hernandez, Juris Karylle M.</h4>
<h4>Student Number: 20241130756</h4>
<h4>Figuring out the navigations of each files the first time for Blazor is more difficult than the Console</h4>

Welcome to your new app.
